@media(max-width: 767px) {
    ul.pagination {
        display: inline-flex;
        flex-wrap: wrap;
    }
}
.table th, .table td {
    vertical-align: middle !important;
}
.white-space{
    white-space: normal;
}

.custom-file-input ~ .custom-file-label::after {
    content: "Selecionar";
}

.btn-bg-black {
    background-color: #404040;
    color: #ffffff;
}
.btn-bg-black:hover {
    background-color: #282828;
    color: #ffffff;
}
.btn-bg-light {
    background-color: #e4e9e9;
    color: #000000;
}
.btn-bg-light:hover {
    background-color: #f0f0f0;
    color: #000000;
}
